.aside {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5rem;
  width: 16rem;
  height: 100%;
  background-color: #20335d;
  transition: all .3s;
  .list-item {
    padding: 1rem 0 1rem 2rem;
    color: #537eb7;
    border-top: 1px solid #35466c;
  }
  .list-item-active {
    color: #fff;
    background-color: rgba(51, 51, 51, .5) !important;
    transition: all .3s;
  }
  .border-top-bottom {
    border-bottom: 1px solid #35466c;
  }
}
.aside-hidden {
  left: -16rem;
}

@media screen and(max-width: 1367px) {
  .aside {
    width: 13rem;
    .list-item {
      padding: .5rem 0 .5rem 2rem;
    }
  }
  .aside-hidden {
    left: -13rem;
  }
}
