.canvas-img-com {
  position: absolute;
  padding: 20px;
  transform-origin: center center;
  &-inner {
    z-index: 1;
    user-select: none;
    background-size: 100% 100% !important;
    overflow: hidden;
  }
  &:hover &-inner {
    outline: 1px dashed #fc4848;
    cursor: move;
  }
  &:hover .delete-img {
    display: inline-block;
    user-select: none;
  }
  &:hover .move-img {
    display: inline-block !important;
    user-select: none;
  }
  .operation-img-active {
    display: inline-block !important;
    user-select: none;
  }
  .inner-active {
    outline: 1px dashed #fc4848;
    cursor: move;
  }
  .delete-img {
    position: absolute;
    z-index: 2;
    display: none;
    background: url(./../../static/imgs/delete.png) no-repeat center;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fc4848;
    cursor: pointer;
    user-select: none;
  }
  .move-img {
    bottom: 10px;
    right: 10px;
    position: absolute;
    z-index: 2;
    display: none;
    background: url(./../../static/imgs/move.png) no-repeat center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fc4848;
    cursor: move;
    user-select: none;
  }
}
